@import url('https://fonts.googleapis.com/css2?family=Honk&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');


body {
    background-color: #3498e9;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 0%;
}

.heading {
    text-align: center;
    font-family: 'Honk', sans-serif;
    font-size: 100px;
}

.stats {
    display: flex;
    flex-direction: row;
    color: #000000;
    justify-content: space-around;

}

.turns,
.time {
    border: 3px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    background-color: #f0f8ff;
}

.container {
    display: flex;
    align-items: center;
    margin: auto;
    width: 24.5em;
    height: 24.5em;
    border: 10px solid;
    background-color: #000000;
    border-color: #000000;
    border-radius: 10px;
}

.puzzle-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 0.1em;
    background-color: #808080;
    width: 24em;
    height: 24em;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}

.piece-img {
    width: 8em;
    height: 8em;
    object-fit: cover;
}

.start-game {
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 5px;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 10px;
}

.footer {
    position: absolute;
    bottom: 0;

}