@import url('https://fonts.googleapis.com/css2?family=Honk&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    background-color: #3498e9;
    margin: auto;

}

.heading {
    text-align: center;
    font-family: 'Honk', sans-serif;
    font-size: 600%;
    margin: 0;
}

.stats {
    display: flex;
    flex-direction: row;
    color: #000000;
    justify-content: space-around;
    margin-right: 23%;
    margin-left: 22%;

}

.turns,
.time {
    border: 3px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    background-color: #f0f8ff;
}

.puzzle-area {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile1,
.tile2,
.tile3,
.tile4,
.tile5,
.tile6,
.tile7,
.tile8,
.tile9 {
    display: table-cell;
    height: 180px;
    min-height: 180px;
    width: 180px;
    min-width: 180px;
    border: 1px solid white;
    background: url("../images/full-puppy-img-540px.png");
    cursor: pointer;
}

.tile1 {
    background-position: left top;
}

.tile2 {
    background-position: center top;
}

.tile3 {
    background: #ffffff;
    cursor: default;
}

.tile4 {
    background-position: left center;
}

.tile5 {
    background-position: center center;
}

.tile6 {
    background-position: right center;
}

.tile7 {
    background-position: left bottom;
}

.tile8 {
    background-position: center bottom;
}

.tile9 {
    background-position: right bottom;
}

.start-game {
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 5px;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 10px;
}

.audio-button {
    width: 50%;
    max-width: 200px;
    margin: 20px auto;
    display: block;
}